.people {
	display: inline-block;
	margin: 20px auto 20px auto;
}

.people-container {
	text-align: center;
}

.people p {
	font-size: 20px;
}

.people .container {
	background-color: #336183;
	display: inline-block;
	margin-right: 20px;
}

.people .container img {
	border-radius: 4px;
}

.people :nth-child(3) {
	margin-right: 0px;
}

@media (max-width: 1050px) {
	.people p {
		font-size: 14px;
	}
}