.people {
	width: 616px;
	margin: auto;
	margin-bottom: 20px;
}

.people p {
	font-size: 20px;
}

.people .container {
	display: inline-block;
	margin-right: 20px;
}

.people :nth-child(3) {
	margin-right: 0px;
}