.header {
	height: 260px;
	padding: 20px 80px 0px 80px;
	z-index: 999;
	background-color: #FFF;
}

#logo-container h1{
	display: inline-block;
	color: #000;
	position: absolute;
	top: 20px;
}

#logo {
	margin-bottom: 20px;
	margin-right: 5px;
	display: inline-block;
}

.tab-container {
	margin: 10px 0px 10px 0px;
}

.tab {
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 15px;
}

.tab p {
	font-size: 30px;
	color: #000;
}

.tab a {
	text-decoration: none;
}

.tab:hover {
	cursor: pointer;
	background-color: #7BC342;
	border-bottom: 3px solid #507F2B;
}

.tab:hover p {
	color: #FFF;
}

.tab-clicked {
	background-color: #7BC342;
	border-bottom: 3px solid #507F2B;
}

.tab-clicked p {
	color: #FFF;
}

.search {
	position: absolute;
	right: 78px;
	top: 22px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	padding-left: 5px;
	background-color: #FFF;
	border: solid 1px #BBB;
}

.search:focus {
	border: solid 1px #666;
	z-index: 2;
}

.search-button {
	position: absolute;
	right: 34px;
	top: 22px;
	padding: 2.5px 10px 1px 10px;
	width: 20px;
	border: solid 1px #BBB;
}

.search-button:hover {
	border: solid 1px #666;
}

.sub-header {
	padding: 40px 80px 20px 80px;
	height: 100px;
	background-color: #6EA6C0;
}

@media (max-width: 1050px) {
	.header {
		height: 200px;
		padding: 20px 2.5% 0px 2.5%;
	}
	#logo-container img {
		width: 65px;
	}
}