.article {
	padding: 20px;
	border-radius: 4px;
	background-color: #6EA6C0;
	border-bottom: 8px solid #336183;
	margin-bottom: 20px;
}

.date {
	margin-bottom: 15px;
	color: #336183;
}

.article h1 {
	margin-bottom: 0px;
}

.article-content {
	margin-bottom: 10px;
}

.article-video {
	text-align: center;
	width: 80%;
	margin: 20px auto 20px auto;
}

.read-more {
	border-radius: 4px;
	padding: 5px;
	background-color: #7BC342;
	border-bottom: 3px solid #507F2B;
	width: 120px;
}

.read-more:hover {
	cursor: pointer;
}

.read-more p {
	font-size: 25px;
}

.news-pagination {
	width: 100%;
	text-align: center;
}

.news-pagination ul {
	display: inline-block;
}

.news-pagination ul li {
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
	background-color: #7BC342;
	border-bottom: 3px solid #507F2B;
	margin-right: 5px;
	display: inline-block;
	color: #FFF;
}

.news-pagination ul li:last-child {
	margin-right: 0px;
}

.news-pagination ul .active {
	background-color: #507F2B;
}

.news-pagination ul li a:visited {
	color: #FFF;
}

@media (max-width: 800px) {
	.article-video {
		width: 100%;
	}
	.article-video iframe {
		width: 100%;
	}
}